.Nav{
  display: flex;
  justify-content: space-between;
  background-color: rgb(230, 21, 73);
  color: blanchedalmond;
  padding: 15px 0px;
  height: 90px;
  padding-top: 40px;
}

.nombre{
  padding-right: 630px;
}

.NavLink{
list-style: none;
gap: 20px;
flex-direction:row;
}

/*footer*/
.footer{
    background-color: rgb(230, 21, 73);
    height: 155px;
    padding: 15px 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

h4{
   color: aliceblue;
   margin-bottom: 5px;
   padding-top:  0px;
  
}

a{
    color: aliceblue;
    margin-right: 13px;
    margin-left: 13px;
    justify-content: center;
    padding-top: 0px;
    text-decoration: none;
    margin-top: 0px;

}

a:hover{
    text-decoration:underline;
}

.redes{
    margin: 10px;
    padding-top: 15px;
}

/* inicio*/ 


.contenedorInicio {
  max-width: 320px;
  margin: 100px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
 box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formInicio {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}




